<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- [Bootstrap] -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<!-- 부트스트랩 테이블 -->
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="${path}/resources/css/style.css">

<style>
BODY {
	display: grid;
	place-items: center;
	min-height: 100dvh;
}
</style>
<script type='text/javascript' th:inline="javascript">
	var status= /*[[${createdTransaction.transactionResult}]]*/{};
	if (status == "SUCCEED")
		alert("거래 생성 성공!");
	else
		alert("거래 생성 실패!");
</script>
</head>
<body>
	<div>
		<h3>생성된 거래 정보</h3>
		<br>
		<table class="table table-bordered table-hover table-striped"
			style="width: 500px;">
			<tr>
				<td style='text-align: center;'>계좌번호</td>
				<td><input type="text"
					th:value='${createdTransaction.accountNumber}' readonly /></td>
			</tr>
			<tr>
				<td style='text-align: center;'>거래 결과</td>
				<td><input type="text"
					th:value='${createdTransaction.transactionResult}' readonly></td>
			</tr>
			<tr>
				<td style='text-align: center;'>에러코드(실패시)</td>
				<td><input type="text"
					th:value='${createdTransaction.errorCode}' readonly></td>
			</tr>
			<tr>
				<td style='text-align: center;'>거래번호</td>
				<td><input type="text"
					th:value='${createdTransaction.transactionId}' readonly></td>
			</tr>
			<tr>
				<td style='text-align: center;'>거래금액</td>
				<td><input type="text"
					th:value='${createdTransaction.transactionValue}' readonly></td>
			</tr>
			<tr>
				<td style='text-align: center;'>거래일시</td>
				<td><input type="text"
					th:value='${createdTransaction.occuredAt}' readonly></td>
			</tr>
		</table>
		<input type="button" value="돌아가기"
			onclick="location.href='/transaction/'">
	</div>
</body>
</html>