<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>계좌 조회 페이지 입니다</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<!-- 부트스트랩 테이블 -->
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="${path}/resources/css/style.css">

<style>
BODY {
	display: grid;
	place-items: center;
	min-height: 100dvh;
}
</style>
</head>
<body>
	<div>
		<h3>계좌 조회 페이지 입니다</h3>
		<form action="/account/check" method='post'>
			<table class="table table-bordered table-hover table-striped"
				style="width: 300px;">
				<tr bgcolor="#04B45F">
					<td style='text-align: center;'>유저 번호</td>
					<td><input type="text" name="userId"></td>
				</tr>
			</table>
			<input type="submit" value="조회">
		</form>
	</div>
</body>
</html>